.each-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 350px;
	background-color: #efefef;
	margin: 5px auto;
	border-radius: 10px;
	overflow: hidden;
}
.indicators *::-webkit-scrollbar {
	display: none;
}
